@import 'compiler/fonts';

*, *::after, *::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box !important;
    font-family: "Gold";
}
.navbar{
    margin: 0;
    padding: 1vw 2vw;
    background-color: #004976;
    position: fixed;
    width: 100%;
    z-index: 99;
    .Logo{
        padding: 0.5vw;
        width: 11vw;
        img{
            width: 100%;
        }
    }
    .navbar-nav{
        margin-left: auto;
        margin-right: 1vw;
        li{
            font-size: 1.1vw;
            padding: 0.5vw;
            a{
                color: white;
                font-weight: 200;
                &:hover{
                    color: rgb(231, 231, 231);
                }
            }
        }
    }
}