#add{
    width: 100%;
    display: flex;
    position: relative;
    padding: 5vw;
    .container{
        margin-top: 3vw;
        padding: 2vw 10vw;
        h3{
            text-align: center;
            margin-bottom: 2vw;
            font-weight: 500;
        }
        h4{
            text-align: center;
            font-weight: 700; 
        }
        .newBlock{
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 1vw;
            .BlockBox{
                width: 85%;
                position: relative;
                margin: 0 0 2.5vw 0;
                input{
                    width: 100%;
                    padding: 1vw;
                    font-size: 1vw;
                    color: white;
                    border: none;
                    background: #004976;
                    opacity: 0.35;
                    outline: none;
                    border-radius: 1.5vw;
                }
                span{
                    position: absolute;
                    font-style: italic;
                    left: 1vw;
                    top: 0.3vw;
                    font-size: 1.2vw;
                    color: rgb(43, 43, 43);
                    transition: 0.5s;
                    pointer-events: none;
                }
            }
            .BlockBox input:focus ~ span, input:valid ~ span{
                transform:translate(-0.5vw, -2.1vw);
                font-size: 1.1vw;
                color:#00b388;
                font-style: normal;
            }       
            .add{
                background-color: #00b388;
                color:white;
                border-radius: 0.8vw;
                font-weight: 600;
                color: #004976;
                padding: 0.3vw 1.1vw;
                font-size: 1.1vw;
                margin-top: 1vw;
                i{
                    color: white;
                    margin-right: 0.5vw;
                }
            }
        }
    }
}