@font-face{
    font-family: "Gold";
    font-weight: 100;
    src:url(../../assets/Goldplay/GoldplayThin.otf);
}
@font-face{
    font-family: "Gold";
    font-weight: 100;
    font-style: italic;
    src:url(../../assets/Goldplay/GoldplayThinIt.otf);
}
@font-face{
    font-family: "Gold";
    font-weight: 200;
    src:url(../../assets/Goldplay/GoldplayLight.otf);
}
@font-face{
    font-family: "Gold";
    font-weight: 200;
    font-style: italic;
    src:url(../../assets/Goldplay/GoldplayLightIt.otf);
}
@font-face{
    font-family: "Gold";
    font-weight: 300;
    src:url(../../assets/Goldplay/GoldplaySemiBold.otf);
}
@font-face{
    font-family: "Gold";
    font-weight: 300;
    font-style: italic;
    src:url(../../assets/Goldplay/GoldplaySemiBoldIt.otf);
}
@font-face{
    font-family: "Gold";
    font-weight: 400;
    src:url(../../assets/Goldplay/GoldplayRegular.otf);
}
@font-face{
    font-family: "Gold";
    font-weight: 400;
    font-style: italic;
    src:url(../../assets/Goldplay/GoldplayRegularIt.otf);
}
@font-face{
    font-family: "Gold";
    font-weight: 500;
    src:url(../../assets/Goldplay/GoldplayMedium.otf);
}
@font-face{
    font-family: "Gold";
    font-weight: 500;
    font-style: italic;
    src:url(../../assets/Goldplay/GoldplayMediumIt.otf);
}
@font-face{
    font-family: "Gold";
    font-weight: 500;
    src:url(../../assets/Goldplay/GoldplayMedium.otf);
}
@font-face{
    font-family: "Gold";
    font-weight: 500;
    font-style: italic;
    src:url(../../assets/Goldplay/GoldplayMediumIt.otf);
}
@font-face{
    font-family: "Gold";
    font-weight: 700;
    src:url(../../assets/Goldplay/GoldplayBold.otf);
}
@font-face{
    font-family: "Gold";
    font-weight: 700;
    font-style: italic;
    src:url(../../assets/Goldplay/GoldplayBoldIt.otf);
}
@font-face{
    font-family: "Gold";
    font-weight: 900;
    src:url(../../assets/Goldplay/GoldplayBlack.otf);
}
@font-face{
    font-family: "Gold";
    font-weight: 900;
    font-style: italic;
    src:url(../../assets/Goldplay/GoldplayBlackIt.otf);
}

/*
 - cores -
 
 Azul #004976
 Verde #00b388 

*/